/* src/components/QuizPage.css */
.quiz-page-container {
  /* Làm cho container chiếm toàn bộ chiều cao màn hình */
  width: 100%;
  height: 100vh; /* 100% chiều cao của khung nhìn */
  overflow: hidden; /* Ẩn thanh cuộn của trang */
  background-color: #8b0000; /* Màu nền đỏ đậm cho khớp với game */
}

.quiz-iframe {
  width: 100%;
  height: 100%;
  border: none; /* Xóa viền của iframe */
}
